@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --fontFamily: 'Space Grotesk', sans-serif;
  --borderRadius: 3px;
  --transition: all 0.3s ease-in-out;
  --colorPrimary: #ccfbfe;
  --colorLight: #fdfffc;
  --colorMed: #cdd6dd;
  --colorDark: #2b303a;
}

body {
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: var(--fontFamily);
  background-color: var(--colorLight);
  color: var(--colorDark);
}
